.excerpt {
  /* Sets the border */
  border: 2px dashed #2196f3;

  /* Adds an inner padding */
  padding: 15px;

  /* Sets outer margins */
  margin: 20px;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
